<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beginBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,245},{139,58}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{139,58}}</string>
                <key>sourceSize</key>
                <string>{173,90}</string>
            </dict>
            <key>blueSprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>checkPoint1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,326},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{12,28}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>checkPoint2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,245},{22,28}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>checkPoint3.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,294},{24,28}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{24,28}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>checkPoint4.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,294},{26,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{26,28}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>checkPoint5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,245},{22,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>checkPoint6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,245},{22,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,2},{240,241}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,39},{240,241}}</string>
                <key>sourceSize</key>
                <string>{252,281}</string>
            </dict>
            <key>control1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{322,98}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{322,98}}</string>
                <key>sourceSize</key>
                <string>{366,146}</string>
            </dict>
            <key>control2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{322,98}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{322,98}}</string>
                <key>sourceSize</key>
                <string>{366,146}</string>
            </dict>
            <key>control3.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{322,98}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{322,98}}</string>
                <key>sourceSize</key>
                <string>{366,146}</string>
            </dict>
            <key>control4.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{322,98}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{322,98}}</string>
                <key>sourceSize</key>
                <string>{366,146}</string>
            </dict>
            <key>control_press_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,102}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{336,102}}</string>
                <key>sourceSize</key>
                <string>{380,152}</string>
            </dict>
            <key>control_press_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{336,102}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{336,102}}</string>
                <key>sourceSize</key>
                <string>{380,152}</string>
            </dict>
            <key>control_press_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{336,102}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{336,102}}</string>
                <key>sourceSize</key>
                <string>{380,152}</string>
            </dict>
            <key>control_press_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{336,102}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{336,102}}</string>
                <key>sourceSize</key>
                <string>{380,152}</string>
            </dict>
            <key>cylinder.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,326},{92,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,50}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>cylinder_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,326},{92,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,50}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>cylinder_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,326},{92,128}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{92,128}}</string>
                <key>sourceSize</key>
                <string>{100,220}</string>
            </dict>
            <key>cylinder_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,326},{92,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,50}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>cylinder_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,326},{92,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,50}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>cylinder_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,292},{110,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{110,59}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>cylinder_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,326},{92,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,50}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>cylinder_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,326},{92,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,50}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>endArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,305},{51,61}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{51,61}}</string>
                <key>sourceSize</key>
                <string>{79,91}</string>
            </dict>
            <key>greenSprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,340},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,358},{49,57}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{49,57}}</string>
                <key>sourceSize</key>
                <string>{71,83}</string>
            </dict>
            <key>menuNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,292},{105,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{105,105}}</string>
                <key>sourceSize</key>
                <string>{179,159}</string>
            </dict>
            <key>menuPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,294},{113,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{113,113}}</string>
                <key>sourceSize</key>
                <string>{179,159}</string>
            </dict>
            <key>nextNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,292},{105,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{105,105}}</string>
                <key>sourceSize</key>
                <string>{179,159}</string>
            </dict>
            <key>nextPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,292},{111,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{111,111}}</string>
                <key>sourceSize</key>
                <string>{179,159}</string>
            </dict>
            <key>normalSprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,340},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>playWay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{290,227}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,47},{290,227}}</string>
                <key>sourceSize</key>
                <string>{512,307}</string>
            </dict>
            <key>playWay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,2},{288,227}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,46},{288,227}}</string>
                <key>sourceSize</key>
                <string>{512,307}</string>
            </dict>
            <key>playWay3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{288,227}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,46},{288,227}}</string>
                <key>sourceSize</key>
                <string>{512,307}</string>
            </dict>
            <key>playWay4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,2},{286,227}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,45},{286,227}}</string>
                <key>sourceSize</key>
                <string>{512,307}</string>
            </dict>
            <key>reStartNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,290},{105,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{105,105}}</string>
                <key>sourceSize</key>
                <string>{179,159}</string>
            </dict>
            <key>reStartPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,292},{109,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,26},{109,109}}</string>
                <key>sourceSize</key>
                <string>{179,159}</string>
            </dict>
            <key>redSprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,340},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>sound_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,340},{66,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{66,56}}</string>
                <key>sourceSize</key>
                <string>{82,64}</string>
            </dict>
            <key>sound_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,305},{66,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{66,56}}</string>
                <key>sourceSize</key>
                <string>{82,64}</string>
            </dict>
            <key>startNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,290},{105,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{105,105}}</string>
                <key>sourceSize</key>
                <string>{179,159}</string>
            </dict>
            <key>startPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,294},{119,119}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{119,119}}</string>
                <key>sourceSize</key>
                <string>{179,159}</string>
            </dict>
            <key>yellowSprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,340},{78,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,77}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>parkour.png</string>
            <key>size</key>
            <string>{1976,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd0a5a0ddff0b02f19511ec269097786:47da49a2bdadfd2807b380d974917eba:143e67f619649b5fd13b0a1ceadb4c21$</string>
            <key>textureFileName</key>
            <string>parkour.png</string>
        </dict>
    </dict>
</plist>
